#container-graph{
    position: relative; 
    width: 80vw; 
    max-height: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5vh; 
    border: 1px solid #d1f3cd;
    border-radius: 10px;
    background-color: #d1f3cd;
}
body{
    background-color: white;
}

.container{
    margin-top: 20px;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.popup{
    display: none;

    position: absolute;
    right: 20vw;
    top: 20vh;
    bottom: 20vh;

    min-height: 60vh;
    overflow-y: auto;
    overflow-x: auto;
    width: 60vw;

    text-align: center;

    background-color: white;
    box-shadow: 100px 100px 100px 1000px rgba(0,0,0,0.9);
    border: 1px solid black;
    border-radius: 10px;
}

.graph-info{
    height: fit-content;
    
    width: fit-content;
    min-width: 80%;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
} pre {
    border: 1px solid black;
}

.popup-submit{
    padding-top: 2%;
    padding-bottom: 2%;
}

.input-graph-props{
    width: 80% !important;
    overflow-wrap: break-word;
}