<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script -->
        <script src="js/scripts/d3.v3.min.js"></script>
        <script src="js/scripts/topojson.v1.min.js"></script>
        <script src="js/scripts/datamaps.world.min.js"></script>
        
        <script src="js/scripts/longLats.js"></script>

        <script src="js/scripts/datamaps.world.hires.min.js"></script>

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <div id="container-graph"></div>

        <div class="container">

            <label for="cars">Find shortest route from &nbsp;</label>
            <select name="cars" id="cars">
              <option value="country1">country1</option>
              <option value="country2">country2</option>
              <option value="country3">country3</option>
              <option value="country4">country4</option>
            </select>
            &nbsp;&nbsp;

            <label for="cars">to &nbsp;</label>
            <select name="cars" id="cars">
                <option value="country1">country1</option>
                <option value="country2">country2</option>
                <option value="country3">country3</option>
                <option value="country4">country4</option>
              </select>
            
            &nbsp;&nbsp;
            <input type="button" value="Find shortest route">
            <input type="button" value="Find best route that connects all airports">
            <input id='open-popup' type="button" value="Clear map and build new paths">


            <div id='popup' class="popup">
                <h3>Edit Graph</h3>

                <div class="graph-info">
                    <pre contenteditable="true" id='pre'></pre>
                </div>

                <div class="popup-submit">
                    <input id='submit-new-info' type="button" value="submit">
                    <input id='close-popup' type="button" value="close without changes">
                </div>
            </div>



        </div>

        <script src="js/modules/domController.js"></script>
        <script src="js/modules/api.js"></script>
        <script src="js/modules/world.map.js"></script>
        <script src="setup.js"></script>
    </body>
</html>